# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Expo / React Native
.expo/
.expo-shared/
*.apk
*.aab
*.ipa
*.xcworkspace
*.xcuserstate
*.xcodeproj

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
